
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(124, 156, 163, 0.2);
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 18px;
    margin: 0 10px;
}

.search-input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-input input {
    height: 10px;
    padding: 5px;
    margin-right: 10px;
}

.search-input button {
    height: 25px;
    padding: 5px 5px;
}

.navItems {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItems > li {
    padding: 20px;
    margin: 15px;
    font-size: large;
    cursor: pointer;
}


.restaurants{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.restaurant-card{
    width: 180px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 8px;
    margin: 15px;
    cursor: pointer;
}
.restaurant-card > img{
    width: 180px;
    height: 210.8px;
    border-radius: 10px;
}
.restaurant-card  > span > h5{
    text-align: center;
}

.restaurant-card > span > h5:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.restaurant-card  > span > h5:first-child .fa-star{
    font-size: small;
    padding: 0 5px 3px 0;
}

.log-sign{
    display: flex;
    justify-content: center;
    padding: 30px;
}